body{
  background: rgb(224,195,151);
  background-image: url('фон.webp');
  background-repeat:repeat;
  background-size: cover;
  margin:0;
  padding: 10px;
  color:rgb(50,20,10);
  font-family:Arial, Helvetica, sans-serif;
}

.text-center {
       text-align: center;
     }

.pic {
     display: block; 
     text-align: center;
     font-style: italic; 
     margin-top: 0;
     margin-bottom: 5px; 
     color: #ae9162; 
    }
.color-ref{
  color:#ffffff;
}
header{
  background-color:rgb(253, 222, 215);
}
ul{
  list-style: none;
  margin: 0;
  padding:20px;
}
a{
  color:rgb(50,20,10);
  text-decoration: none;
}
.a-header{
font-size: 20px;
padding: 20px;
color: white;
text-decoration: none;
}
a:hover{
color:rgb(69, 59, 43);
text-decoration: none;
}
.li-1{
  display: inline;
}
h3{
  background-color: rgb(247, 201, 191);
  height: 30 px;
}
.containerfoto{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}


